/autom4te.cache/
/config/
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.h
config.h.in
config.log
config.status
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
m4
missing
stamp-h1
test-driver
*~
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
.dirstamp
src/elektroid
src/elektroid-cli
src/*.exe
src/.libs
src/*~
test/*.log
test/*.trs
test/integration/*.trs
test/tests_scala
config.guess
config.sub
ltmain.sh
ABOUT-NLS
config.rpath
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/*.gmo
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-po
po/remove-potcdate.sed
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/elektroid.substvars
debian/elektroid/
debian/files
docs/_site/
docs/.sass-cache/
docs/.jekyll-cache/
docs/.jekyll-metadata
docs/.bundle/
flatpak/build/
.flatpak-builder/
