[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Elektroid
Comment=Sample transfer application for Elektron devices
Comment[es]=Aplicación de transferencia de muestras para dispositivos Elektron
Comment[fr]=Application de transfert d'échantillon pour les périphériques Elektron
Exec=elektroid
Icon=elektroid
Terminal=false
