[Desktop Entry]
Type=Application
Name=Elektroid
Comment=Sample and MIDI device manager
Comment[ca]=Gestor de mostres i dispositius MIDI
Comment[de]=Sample und MIDI Gerätemanager
Comment[es]=Gestor de muestras y dispositivos MIDI
Comment[fr]=Gestionnaire d'échantillons et de périphériques MIDI
Comment[pt_BR]=Gerenciador de amostras e dispositivos MIDI
Categories=Music;AudioVideo;X-Sound;Audio;X-Alsa
Keywords=music;alsa;realtime;standalone;
Exec=elektroid
Icon=io.github.dagargo.Elektroid
Terminal=false
